Makefile
config.log
config.status
libtool
sqlite3.pc
sqlite_cfg.h
.target_source
fts5.c
fts5.h
fts5parse.c
fts5parse.h
fts5parse.out
fts5parse.sql
fts5parse.y
keywordhash.h
lemon
lemon.dSYM/
lempar.c
mkkeywordhash
mkkeywordhash.dSYM/
mksourceid
mksourceid.dSYM/
opcodes.c
opcodes.h
parse.c
parse.h
parse.out
parse.sql
parse.y
shell.c
sqlite3.c
sqlite3.h
sqlite3ext.h
sqlite3session.h
tsrc/