Makefile
config.log
config.status
libtool
sqlite3.pc
sqlite_cfg.h
.target_source
fts5.c
fts5.h
fts5parse.c
fts5parse.h
fts5parse.out
fts5parse.sql
fts5parse.y
keywordhash.h
lemon
lemon.dSYM/
lempar.c
mkkeywordhash
mkkeywordhash.dSYM/
mksourceid
mksourceid.dSYM/
opcodes.c
opcodes.h
parse.c
parse.h
parse.out
parse.sql
parse.y
shell.c
sqlite3.c
sqlite3.h
sqlite3ext.h
sqlite3session.h
tsrc/
sqlite3-extra.c
ext/wasm/batch-runner.list
ext/wasm/bld/
ext/wasm/fiddle/sqlite3-opfs-async-proxy.js
ext/wasm/jswasm/
ext/wasm/sql/speedtest1-100.sql
ext/wasm/sql/speedtest1-110.sql
ext/wasm/sql/speedtest1-120.sql
ext/wasm/sql/speedtest1-130.sql
ext/wasm/sql/speedtest1-140.sql
ext/wasm/sql/speedtest1-142.sql
ext/wasm/sql/speedtest1-145.sql
ext/wasm/sql/speedtest1-150.sql
ext/wasm/sql/speedtest1-160.sql
ext/wasm/sql/speedtest1-161.sql
ext/wasm/sql/speedtest1-170.sql
ext/wasm/sql/speedtest1-180.sql
ext/wasm/sql/speedtest1-190.sql
ext/wasm/sql/speedtest1-200.sql
ext/wasm/sql/speedtest1-210.sql
ext/wasm/sql/speedtest1-230.sql
ext/wasm/sql/speedtest1-240.sql
ext/wasm/sql/speedtest1-250.sql
ext/wasm/sql/speedtest1-260.sql
ext/wasm/sql/speedtest1-270.sql
ext/wasm/sql/speedtest1-280.sql
ext/wasm/sql/speedtest1-290.sql
ext/wasm/sql/speedtest1-300.sql
ext/wasm/sql/speedtest1-310.sql
ext/wasm/sql/speedtest1-320.sql
ext/wasm/sql/speedtest1-400.sql
ext/wasm/sql/speedtest1-410.sql
ext/wasm/sql/speedtest1-500.sql
ext/wasm/sql/speedtest1-510.sql
ext/wasm/sql/speedtest1-520.sql
ext/wasm/sql/speedtest1-980.sql
ext/wasm/sql/speedtest1-990.sql
ext/wasm/sql/speedtest1.sql
ext/wasm/sqlite-wasm-3400000.zip
ext/wasm/version-info
speedtest1
speedtest1.dSYM/
tool/stripccomments
